aside {
    display: flex;
    justify-content: end;
    align-items: end;
    margin: 10px;
   
    width: 100%;


}

#imagem-video {
    flex-direction: column;

    gap: 14px;
    bottom: 9rem;
    height: 98.5%;
}

#text-do-video {

    flex-direction: column;

    height: 98.5%;


}

#imagem-video a img {

    width: 200px;
    height: 120px;


}

#text-do-video {
    gap: 1px;
    width: 296px;

    color: #000;

    font-family: 'Roboto';
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;


}

#text-do-video h1 {

    margin: 0 0 8px 16px;
}


#text-do-video p {
    margin: 8px 0px 8px 16px;
    color: #515151;

    font-family: 'Roboto';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#text-do-video span {
    margin: 8px 0px 8px 16px;

    color: #515151;
    font-family: 'Roboto';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.container {

    display: inline-flex;

}